
div.fsbanner { 
	position:relative;
	overflow:hidden;
	/* todo: */
	width: 1600px;
	height:300px;
}


.fsbanner > div { 
	position:absolute; 
	background-size:cover;
	cursor:pointer;
	top:0px; 
	left:0px; 
}
.fsbanner > div .shade { 
	position:absolute; 
	left:0px;
}
.fsbanner > div .shade.minimized {
	display:block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background:rgba(27,29,36,0.75);
	height: 100%;
}

.fsbanner > div .title {
	/* todo: */
	line-height: 300px;  
    text-align: center;
}

.fsbanner > div .title > span {
    padding: 10px 0;
	border-bottom: 1px solid #fff;
	color:#fff;
	font-size:20px;
}